// app global css in SCSS form
.text-playfair {
  font-family: 'Playfair Display', 'Roboto', Helvetica, sans-serif
}

.text-roboto {
  font-family: 'Roboto', Helvetica, sans-serif
}

.overlay {
  background-color: #281357;
  opacity: 0.8;
}
  

.screen-mobile {
  @media (max-width: $breakpoint-xs-max) {
    display: block
  }
  @media (min-width: $breakpoint-sm-min) {
    display: none
  }
}

.screen-tablet {
  @media (max-width: $breakpoint-xs-max) {
    display: none
  }
  @media (min-width: $breakpoint-sm-min) {
    display: block
  }
}

.container {
  @media (max-width: $tablet-width) {
    max-width: 360px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin: 0 auto;
    max-width: 600px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1024px;
  }
}
 
    
  